---
---

<section class="giscus comments"></section>

<style>
	.comments {
     padding-top: 2rem;
     width: 100%;
  }
</style>


<script src="https://giscus.app/client.js"
        data-repo="leanhtuan1994/react-native-template-atlas"
        data-repo-id="REPLACE_WITH_NEW_REPO_ID"
        data-category="Docs Comments"
        data-category-id="REPLACE_WITH_NEW_CATEGORY_ID"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

